html, body {
  background-color: #0064bd;
  color: white;
  margin: 0 auto;
}

body {
  padding: 0 20px 20px 20px;
}

#share-link {
  float: right;
}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
}

.editor {
  display: flex;
  flex: 1;
}

.editor .CodeMirror {
  flex-basis: 0;
  flex-grow: 1;
}

.CodeMirror:first-of-type {
  border-right: 2px solid #0064bd;
}

.CodeMirror {
  height: 100%;
  border-radius: 4px;
}

.title {
  margin: 8px;
}
